.App-logo {
  height: 18vmin;
  pointer-events: none;
}


.App-header {
  background-color: crimson;
  height: 100%;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkgray;
  color: black;
  text-align: center;
  padding: 15px;
}


